# === C++ ===
# executáveis 
*.exe
*.out
*.app

# Arquivos de Cache e Ferramentas do .NET 
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets
*.nuget.g.props
*.nuget.g.targets

# arquivos de Objeto e Bibliotecas
*.o
*.obj
*.a
*.la
*.lo
*.so
*.dll
*.dylib
*.sln

# pastas de build 
build/
.vscode/
.vs/
bin/
obj/
[Bb]in/
[Oo]bj/

# === Py ===
# Byte-compiled / arquivos de cache
__pycache__/
*.py[cod]
*$py.class

# ambientes Virtuais
venv/
.venv/
env/
.env/

# === sistema operacional ===
.DS_Store
Thumbs.db